html, body {
    margin: 0;
    background-color: #446c44;
    overflow: hidden;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}
.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}
#jugador-cartas, #computadora-cartas {
    height: 240px;
}